.login-form {
    max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.tittle {
  margin-top: 18vh;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.row-login{
  margin-top: 90px;
  margin-right: 31px;
}