[nz-form] {
    max-width: 600px;
}

.cancel-button{
  margin-left: 10px;
}

.tittle {
  margin-top: 18vh;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.row-form{
  margin-top: 90px;
}
